.hero-container {
  position: relative;
  height: 90vh;
  background-image: url("https://plus.unsplash.com/premium_photo-1664202526535-c01e4b0c42b7?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fGNsb3RoaW5nJTIwc3RvcmV8ZW58MHx8MHx8fDA%3D");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  background-color: rgba(78, 76, 76, 0.5);
  width: 50%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  text-align: center;
  color: #fff;
  max-width: 700px;
  padding: 2rem;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-content h1 span {
  color: #4f46e5;
}

.hero-content p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.shop-button {
  padding: 12px 24px;
  font-size: 1rem;
  background-color: #4f46e5;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.shop-button:hover {
  background-color: #3730a3;
  transform: scale(1.05);
}
.featured-section {
  padding: 3rem 2rem;
  text-align: center;
  background-color: #f9fafb;
}

.featured-section h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 2rem;
}

.featured-products {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.featured-card {
  background-color: #fff;
  padding: 1rem;
  width: 200px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}

.featured-card:hover {
  transform: translateY(-5px);
}

.featured-card img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  margin-bottom: 1rem;
}

.featured-card h4 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.featured-card p {
  color: #10b981;
  font-weight: bold;
}

.view-all-button {
  margin-top: 2rem;
  padding: 10px 20px;
  background-color: #4f46e5;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.view-all-button:hover {
  background-color: #3730a3;
}
